<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Create a Restaurant</title>
</head>
<body>
  <%- include('../partials/_nav') %>
  <main class="page-restaurant">
    <form action="/restaurants/<%=restaurant._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
      <label for="name">Name:</label>
      <input class="input-name" type="text" name="name" id="name" value="<%= restaurant.name %>" />

      <label for="address">Address:</label>
      <input class="input-address" type="text" name="address" id="address" value="<%= restaurant.address %>" />

      <label for="photo">New Photo:</label>
      <input type="file" name="photo" id="photo" accept="image/*" />
      <input type="hidden" name="photoPath" id="photoPath" value="<%= restaurant.photo %>" />

      <div class="restaurant-detailis">
        <img class="restaurant-photo" src="<%= restaurant.photo %>" width="440px"/>
        <div class="restaurant-description">

          <label for="description">Description:</label>
          <textarea rows="5" name="description" id="description">
            <%= restaurant.description %>
          </textarea>

          <label for="country">Country:</label>
          <input type="text" name="country" id="country" value="<%= restaurant.country %>" />

          <label for="city">City:</label>
          <input type="text" name="city" id="city" value="<%= restaurant.city %>" />
        </div>
      </div>

      <div class="rating-form-button">
        <button class="btn" type="submit">Save</button>
      </div>
    </form>
  </main>
</body>
</html>